
.de{
    text-align: center;
    align-items: center;
    background-color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    margin-left: 25%;
    padding: 20px 15px;
}
.de h1{


}